<!DOCTYPE html>
<html>
<head>
	<meta http-eqiv="content-type" content="text/html;charset=utf-8" />
	<title>Go за Прикладом: {{.Name}}</title>
	<link rel=stylesheet href="site.css" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75170058-3"></script>
	<script type="text/javascript">
	if (window.location.host == "gobyexample.com.ua") {
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js',      new Date());
		gtag('config', 'UA-75170058-3');
	}
	</script>
</head>
<body>
	<div class="example" id="{{.ID}}">
	<h2><a href="./">Go за Прикладом</a>: {{.Name}}</h2>

	<p class="warning">Work in Progress / Сайт в процесі розробки</p>

	{{range .Segs}}
	<table>
		{{range .}}
		<tr>
			<td class="docs">{{.DocsRendered}}</td>
			<td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
			{{if .CodeRun}}<a href="http://play.golang.org/p/{{$.URLHash}}"><img title="Run code" src="play.png" class="run" /></a>{{end}}
			{{.CodeRendered}}
			</td>
		</tr>
	{{end}}
	</table>
	{{end}}

{{if .NextExample}}
	<p class="next">
		Наступний приклад: <a href="{{.NextExample.ID}}">{{.NextExample.Name}}</a>.
	</p>
{{end}}
<p class="footer">
Автор <a href="https://twitter.com/mmcgrana">@mmcgrana</a> | Переклад <a href="https://twitter.com/butuzov">@butuzov</a> | <a href="https://github.com/butuzov/gobyexample/blob/ukrainian/examples/{{.ID}}">source</a> | <a href="https://github.com/butuzov/gobyexample#license">ліцензія</a>
</p>
</div>
</body>
</html>
