<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go за Прикладом: {{.Name}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {}
  </script>
  <body>
    <div class="example" id="{{.ID}}">
      <h2><a href="./">Go за Прикладом</a>: {{.Name}}</h2>
      {{range .Segs}}
      <table>
        {{range .}}
        <tr>
          <td class="docs">
            {{.DocsRendered}}
          </td>
          <td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
	        {{if .CodeRun}}<a href="http://play.golang.org/p/{{$.URLHash}}"><img title="Run code" src="play.png" class="run" /></a>{{end}}
            {{.CodeRendered}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
      {{if .NextExample}}
      <p class="next">
        Наступний приклад: <a href="{{.NextExample.ID}}">{{.NextExample.Name}}</a>.
      </p>
      {{end}}
      <p class="footer">
        Створено <a href="https://twitter.com/mmcgrana">@mmcgrana</a> | Перекладено <a href="https://twitter.com/butuzov">@butuzov</a> | <a href="mailto:butuzov@made.ua">відгук</a> | <a href="https://github.com/butuzov/gobyexample/blob/ukrainian/examples/{{.ID}}">source</a> | <a href="https://github.com/butuzov/gobyexample#license">ліцензія</a>
      </p>
    </div>
  </body>
</html>
