<!DOCTYPE html>
<html>
<head>
	<meta http-eqiv="content-type" content="text/html;charset=utf-8" />
	<title>Go за Прикладом</title>
	<link rel=stylesheet href="site.css" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75170058-3"></script>
	<script type="text/javascript">
	if (window.location.host == "gobyexample.com.ua") {
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js',      new Date());
		gtag('config', 'UA-75170058-3');
	}
	</script>
</head>
<body>
	<div id="intro">
	<h2><a href="./">Go за Прикладом</a></h2>

	<p>
		<a href="http://golang.org">Go</a> є мовою програмування з відкритим кодом призначена для створення простого, швидкого та надійного програмного забезпечення.
	</p>

	<p>
		<em>Go за Прикладом</em> це практичне введення до Go з використанням анотованих пракладів. Перевірте приклад <a href="./hello-world">"Привіт Світ"</a> aбо скористайтесь поданим нижче переліком прикладів.
	</p>

	<ul>
		{{range .}}
		<li><a href="{{.ID}}">{{.Name}}</a></li>
		{{end}}
	</ul>

		<p class="footer">
		Автор <a href="https://twitter.com/mmcgrana">@mmcgrana</a> | Переклад <a href="https://twitter.com/butuzov">@butuzov</a> | <a href="https://github.com/butuzov/gobyexample/">source</a> | <a href="https://github.com/butuzov/gobyexample#ліцензія">ліцензія</a>
		</p>
	</div>
</body>
</html>
